#
# Use .add_data_files and .add_data_dir methods in a appropriate
# setup.py files to include non-python files such as documentation,
# data, etc files to distribution (*for installation*).
# Avoid using MANIFEST.in for that.
#
# Files in top-level directory:
include AUTHOR.txt
include LICENSE.txt
include MANIFEST.in
include pyproject.toml
include README.md
include setup.py
include THANKS.txt 

include herbs/main_window.ui 

include herbs/data/query.csv
include herbs/data/atlas_labels.pkl

# Included are: icons/, data/
recursive-include herbs/icons *.svg
recursive-include herbs/icons *.png
recursive-include herbs/icons/sidebar *.svg
recursive-include herbs/icons/sidebar *.png
recursive-include herbs/icons/toolbar *.svg
recursive-include herbs/icons/toolbar *.png
recursive-include herbs/icons/layers *.svg
recursive-include herbs/icons/layers *.png
